@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:500&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

hmtl, body {
  margin: 0;
  padding: 0;
}